body{
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(356, 72%, 50%), #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
    
}

header{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;

} 
.barra a {
    margin-left: 100px;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    }

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    height: 90px;
    border-radius: 100px;
   
}
form{
    margin-left: 70px;
}
.pepopulares{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cajas{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.521);
    width:200px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: column;
}
.categoria{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    margin: 27px;
    
}
.pelis{
    height: 270px;
}
p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.titulo{
    font-size: 16px;
   font-weight: bolder;

}
.estreno{
    font-size: 10px;
    margin: none;
}
.populares{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer{
    background-color: black;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    height: 120px;
    width: 100%;
    }
.generos{
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: auto;
        }
.titulos {
        color: white;
        font-size: 40px;
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        text-decoration: double;
        margin-left: 15px;
    }

.listaGenero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
    margin: 10px;
    

}
.generoLi{
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    

}
h4{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
   text-align: center;
}
.descubri{
    color: white;
    margin-left: 20px;

}
a{
    color: white;
    text-decoration: none;
}
.detail{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    margin-right: 40px;
}
.imgDetail {
    margin: 40px;
}
.infoDetail {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    justify-content: space-around;
    padding: 40px;
    color: white;
}
.tituloDetail{
    font-weight:bolder;
    text-align: center;
    font-size: 30px;
}
.rating{
    margin-left: 125px;
    width: 50%;

}


/*NO agregar codigo debajo del media queri
@media  (max-width : 768px) {
    
}*/